<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="keywords"
            content="URL shortener,shorten,URL,link,smaller,shorter,hyperlink,shorten web address,v.gd,is.gd"
        />
        <meta name="description" content="Created on <%= locals.createdAt %>." />
        <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />

        <title>Statistic for <%= locals.shortURL %></title>
    </head>
    <body>
        <div id="wrapper" style="margin-top: 20px; margin-left: 20px">
            <div id="main">
                <h1 ><b>Link Statistics</b></h1>

                <p>
                    This shortened URL (<span
                        ><a href="<%= locals.shortURL %>" target="_blank" rel="noopener noreferrer"
                            ><b><%= locals.shortURL %></b></a
                        ></span
                    >) redirects to: <br />
                    <a href="<%= locals.longURL %>" target="_blank" rel="noopener noreferrer"
                        ><b> <%= locals.longURL %></b></a
                    ></span
                >
                    <br />
                    <br />
                    It was created on <%= locals.createdAt %> 
                    <br /><br />
                    <span
                        ><a href="<%= locals.shortURL %>" target="_blank" rel="noopener noreferrer"
                            ><b><%= locals.shortURL %></b></a
                        ></span
                    > has been clicked for <%= locals.clicked %> times
                </p>
            </div>
        </div>
    </body>
</html>
